html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 8px;
}

header {
    display: flex;
    justify-content: center;
}

.boards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    column-gap: 24px;
    justify-items: center;
}

.boards h2 {
    grid-row: 1;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 64px;
    width: 64px;
    text-align: center;

    border: 1px solid black;
}