:root {
    --background-color: rgb(244, 230, 191);
    --foreground-color: rgb(120, 66, 22);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

    height: 100vh;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: var(--background-color);
    color: var(--foreground-color);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 24px;

    padding-bottom: 24px;
}

.playerone, .playertwo {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 24px;
}

.playerone {
    grid-column: 1;
}

.playertwo {
    grid-column: 2;
}

.playerone h2, .playertwo h2 {
    grid-column: 1;
    grid-row: 1;

    justify-self: end;
    padding: 8px 32px;
}

h2:hover {
    cursor: pointer;
    filter: brightness(1.5);
}

h2:active {
    filter: brightness(0.75);
}

.current-turn {
    color: var(--background-color);
    background-color: var(--foreground-color);
    border-radius: 15px;
}

.playerone button, .playertwo button {
    grid-column: 2;
    grid-row: 1;

    align-self: center;
    justify-self: start;
}

#enemy1, #enemy2 {
    grid-row: 2;
    grid-column: 1 / -1;
    display: grid;
}

#board1, #board2 {
    grid-row: 3;
    grid-column: 1 / -1;
    display: grid;
}

.cell, .enemy-cell {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 64px;
    width: 64px;
    text-align: center;

    border: 1px solid var(--foreground-color);
}

.cell.game-active {
    background-color: rgb(94, 94, 209);
}

.enemy-cell.game-active {
    background-color: gray;
}

.enemy-cell.game-active:hover {
    cursor: pointer;
    filter: brightness(1.5);
}

.enemy-cell.game-active:active {
    filter: brightness(0.75);
}

.turn {
    pointer-events: none;
}

button {
    padding: 8px 16px;
    background-color: var(--foreground-color);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
}

button#start {
    padding: 16px 24px;
}

button:hover {
    cursor: pointer;
    filter: brightness(1.5);
}